/* General styles */
.profile-container {
    max-width: 600px; /* Set a maximum width for the profile container */
    margin: 0 auto; /* Center the profile container */
    padding: 20px;
  }
  
  .profile-info {
    /* Add styles for the profile information */
  }
  
  .edit-form {
    /* Add styles for the edit form */
  }
  
  /* Styles for smaller screens (e.g., smartphones) */
  @media screen and (max-width: 600px) {
    .profile-container {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    /* Additional styles for smaller screens */
  }
  
  /* Styles for larger screens (e.g., tablets and desktops) */
  @media screen and (min-width: 601px) {
    .profile-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .edit-form {
      width: 50%;
    }
  
  }
  /* Add these styles to your existing CSS or create a new CSS file */
.image-container {
    text-align: center;
  }
  
  .profile-image {
    max-width: 100%;
    height: auto;
  }
  
  .profile-container button
  {
    
      border-radius: 20px;
      border: 1px solid #FF4B2B;
      background-color: #FF4B2B;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
  
  }
  .profile-info p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    font-family: fantasy;
}
.edit-form input {
   
   width: 70%;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   border: none;
   border-bottom: 2px solid rgb(174, 133, 133);
   outline: none;
   resize: none;

  
  
}
.edit-form label
{
  color: #FF4B2B;
  font-weight:bold;
  padding:2px;

}